body {
    font-family: 'Cairo', sans-serif; 
    background: #f8f9fa; 
    color: #333; 
    scroll-behavior: smooth; 
}

section { 
    scroll-margin-top: 110px; 
}
.custom-dropdown:hover .dropdown-menu {
    display: block; 
    opacity: 1; 
    visibility: visible; 
    transform: translateY(0); 
}


.dropdown-menu {
    display: block; 
    opacity: 0; 
    visibility: hidden; 
    transform: translateY(15px); 
    transition: all 0.3s ease-in-out; 
    border-radius: 12px; 
    right: 0 !important; 
    left: auto !important; 
    text-align: right; 
}


.hero-section {
    
    background: linear-gradient(rgba(13, 110, 253, 0.7), rgba(0, 0, 0, 0.5)), url('../image/IMG_2795.JPG.JPG') center/cover;
    height: 60vh; 
}


.info-card {
    background: white; 
    padding: 35px; 
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
    max-width: 850px; 
    border-right: 10px solid #0d6efd; 
    font-size: 1.25rem; 
    margin-bottom: 30px; 
    transition: 0.3s; 
}


.value-item { 
    transition: 0.3s; 
}


.info-card:hover, .value-item:hover { 
    transform: translateY(-8px); 
}


.service-card {
    background: white; 
    padding: 25px; 
    border-radius: 15px; 
    border-right: 6px solid #0d6efd; 
    transition: 0.3s; 
}


.service-card:hover { 
    background: #f0f7ff; 
    transform: scale(1.02); 
}

.table { 
    background: white;
    border-radius: 10px; 
    overflow: hidden; 
}

.section-title { 
    color: #0d6efd; 
    font-weight: 800; 
    margin-bottom: 40px; 
    display: inline-block; 
}

.section-box { 
    padding: 70px 0; 
}


.social-hover:hover { 
    color: #0d6efd !important; 
    transform: scale(1.1); 
    transition: 0.3s; 
}

.form-select { 
    border-radius: 8px; 
    border: 1px solid #ddd;
}
